:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  --slidev-theme-primary: #5d8392;
  --tcc-orange: #ed5502;
  --tcc-gray: #1c2330;
  --tcc-handson-color: #f0f0f0;
  --tcc-handson-bg-color: #252734;
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}

.slidev-layout.default {
  h2 {
    @apply mb-3;
  }
}

h3::before {
  content: "<> ";
  color: var(--tcc-orange);
  letter-spacing: 3px;
}

.slidev-page, header {
  @apply bg-sky-100;
  @apply dark:bg-slate-900;

  --font-mono:
    "Jetbrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --font-sans:
    "Noto Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* Schriftarten werden nun global über das Frontmatter in slides.md gesteuert */

  font-family: var(--font-sans);  

  ul ul {
    @apply list-disc;
    @apply mb-1;
  }

  .slidev-code-tab,
  .slidev-code-block-title,
  .slidev-code-group-tabs {
    gap: 3px;
  }
}
