:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  --slidev-theme-primary: #5d8392;
  --tcc-orange: #ed5502;
  --tcc-gray: #1c2330;
  --tcc-handson-color: #f0f0f0;
  --tcc-handson-bg-color: #252734;
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}

.slidev-layout.default {
  h2 {
    @apply mb-3;
  }
}

h3::before {
  content: "<> ";
  color: var(--tcc-orange);
  letter-spacing: 3px;
}

.slidev-page {
  @apply bg-sky-100;
  @apply dark:bg-slate-900;

  ul ul {
    @apply list-disc;
    @apply mb-1;
  }
}
